a {
	font-family: Arial, Verdana, sans-serif; 
	font-size: 14px; font-weight: bold; 
	color: #33ffc6; 
	text-decoration: none; 
	line-height:1.5em;
}


body {
	background: #e89655;
	background: linear-gradient(to right, #db36a4, #f7ff00);
	font-size: 16px;
	min-height: 100vh;
	min-width: 100vw;
	margin:0;
}

html {
	line-height: 1.15;
}

h1, h2, h3 {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 0.25rem;
    margin: 0.5rem;
    text-transform: uppercase;
}

h1 { 
    color: #690048;
    font-size: 2rem;
}

h2 {
    color: #b7007d;
    font-size: 1.6rem;
}
h3 {
    color: #920064;
	font-size: 1.3rem;
}


#content {
	background: #FFF;
    border: 8px solid #780045;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
	height: 80%;
    margin: auto;
    overflow-x: hidden;
    overflow-y: auto;
	padding: 0;
    position: absolute;
    width: 85%;
    left: 0; right: 0; top: 0; bottom: 0;
}

#content::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #F5F5F5;
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#content::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

#content::-webkit-scrollbar-thumb {
	background-color: #D62929;
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}

#controls {
    align-items: center;
	background-color: rgba(53, 17, 49, 0.8);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    left: 0;
    margin: 0 auto;
    position: absolute;
    width: 10vmin;
}

#controls > button {
	background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
	border: none;
	cursor: pointer;
    padding-bottom: 2rem;
	transition: all 0.2s ease-out;
	width: 6vmin; height: 6vmin;
    will-change: border, transform;
}

#controls > button:hover {
	border-bottom: 3px solid #f00;
    transform: translateY(-2px);
}

#controls > #back {
	background-image: url('../img/arrow-left.svg');
}

#controls > #index {
	background-image: url('../img/list.svg');
}

#controls > #full {
	background-image: url('../img/expand.svg');
}

#controls > #sizeUp {
	background-image: url('../img/search-plus.svg');
}

#controls > #sizeDown {
	background-image: url('../img/search-minus.svg');
}

#modal .num {
    left: 5%;
	position: absolute;
}

#overlay {
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.75);
	overflow: auto;
	opacity: 0;
	position: fixed;
	text-align: center;
	transition: all 0.3s ease-out;
  	top: 0; right: 0; bottom: 0; left: 0;
  	width: 100%; height: 100%;
}

#overlay.active {
	opacity: 1;
}

#overlay .close {
	align-items: center;
    background: red;
    border: 3px solid red;
    border-radius: 100%;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    box-sizing: border-box;
    color: #fff;
    display: flex;
    font-family: sans-serif;
    font-size: 4vmin;
    height: 5vmin;
    justify-content: center;
    margin: auto;
    position: absolute;
    text-align: center;
    transition: box-shadow 0.3s ease;
    right: 5vmin; top: 5vmin;
    width: 5vmin;
    z-index: 1;
}

#overlay .close:hover {
	box-shadow:0px 0px 10px 5px rgba(229, 233, 9, 0.5);
	cursor: pointer;
}

#overlay > #modal {
	background-color: #fff;
	border-radius: 0 10px 10px 0;
    margin: 0 auto;
    position: relative;
    top: 22.5%;
	height: 60%;
	max-width: 600px;
	overflow-x: visible;
    overflow-y: scroll;
	text-align: left;
    transition: all 0.3s ease-out;
	transform: scale(0.8);
	width: 80%; 
}

#overlay > #modal::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #F5F5F5;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
			box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#overlay > #modal::-webkit-scrollbar
{
	background-color: #F5F5F5;
	border-radius: 10px;
	width: 12px;
}

#overlay > #modal::-webkit-scrollbar-thumb
{
	background-color: #D62929;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
			box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}

#overlay > #modal:before {
	background: #f7ff00;
	background: -webkit-linear-gradient(to right, #db36a4, #f7ff00); 
	background: linear-gradient(to right, #db36a4, #f7ff00);
	content: '';
	display: block;
	left: 0; top: 0;
	position: absolute;
	width: 100%; height: .5rem;
}

#overlay > #modal > #modalBody > div {
	background: none;
	color: #444;
	font-size: 16px;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	line-height: 1.5;
	margin: 0.75rem 0 0 5rem;
	transition: all 0.3s ease-out;
}

#overlay > #modal > #modalBody > div:hover {
	background: rgba(253, 114, 98, 0.2);
	cursor: pointer;
}

#overlay.active > #modal {
	transform: scale(1);
}

#song {
	color: #333;
	display: flex;
	flex-wrap: wrap;
    font-size: 18px;
    font-weight: 500;
	font-family: 'Open Sans', 'Arial Narrow', Arial, sans-serif;
	line-height: 1.5;
	margin: 0rem 2rem;
	position: relative;
	text-align: left;
}

#song > .songHeader {
	background: rgba(120, 0, 69, 0.05);
    box-shadow: 0 4px 8px rgba(120, 0, 69, 0.16), 0 8px 16px rgba(120, 0, 69, 0.24);
    border-radius: 0 0 25px 25px;
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3vmin;
}

#song > .songHeader > .songNum {
	display: inline-block;
    flex: 0;
    margin: 0 5vmin 0 5vmin;
    position: relative;
    text-align: right;
    width: 45%;
}

#song > .songHeader > .songTitle {
    display: inline-block;
	margin: auto 0 0 5vmin;
    position: relative;
    width: 100%;
}

#song > .verse,
#song > .chorus {
	flex: 0 0 80%;
    margin: 1rem auto;
}

#song > .author {
	flex: 0 0 100%;
	text-align:  right;
}

#toc {
	display:  flex;
	flex-direction: column;
	height: 95%;
	justify-content: space-evenly;
	margin: auto;
	position:  relative;
	text-align: center;
	width: 100%;
}

#toc > .navbar {
	background: hsla(305, 100%, 96%, 1);
    border-radius: 15px;
    bottom: 3vmin;
    justify-content: center;
    left: 0;
    right: 0;
    margin: 1vmin auto;
    padding: 1rem;
    width: 80%;
}

#toc > .navbar > div {
	align-items:  center;
	display:  flex;
	justify-content:  center;
	flex-wrap: wrap;
}

#toc > .navbar span {
	color: hsla(300, 50%, 25%, 1);
	cursor: pointer;
	font-family: Helvetica, Arial, Verdana, sans-serif; 
	font-size: 1.2rem;
	font-weight: bold; 
	margin: 0 0.2rem;
	padding: 1rem 1.5rem;
	transition: all 0.2s ease-in-out;
	will-change: background-color, box-shadow, transform;
}

#toc > .navbar span:hover {
	background-color: rgba(255, 255, 255, 0.3);
	box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.24);
	transform: translateY(-2px);
}

.footer {
	color: yellow;
	font-family: Arial, Verdana, sans-serif; 
	font-size: 13px; 
}

[disabled] {
	display: none !important;
	cursor: not-allowed !important;
}

@media (max-width: 930px) {
	#controls {
		align-items: center;
		flex-direction: row;
		justify-content: space-evenly;
		left: 0; right: 0; bottom: 0;
		margin: 0 auto;
		position: absolute;
		width: 100%; height: 10vmin;
	}
}

/* ul.main {font-family: Arial, Verdana, sans-serif; font-size: 16px; color: #000; margin:25px; line-height:1.5em; width:86%;}


table.main {background-color:#fff}
table.body {background-color: #ffffff;}
th {color: #ffff00; font-size:12px;}
th.banner { font-size:24px; background-image: url('images/header_tile.jpg');height:94px;} 
.subhead {background-image: url('images/body_tile2.gif');}
.lower {background-image: url('images/lower_tile.gif');}
.main {font-family:Arial, Helvetica, Sans-Serif; font-size:14px; color:#000;}
.topnav {background-image: url('images/navbutton.gif');}
.index {font-family:Arial, Helvetica, Sans-Serif; font-size:12px; color:#000;}
.rightnav {font-family:Arial, Helvetica, Sans-Serif; font-size:12px; color:#000;}

.vrse {
	font-family:Arial, Helvetica, Sans-Serif;counter-reset:item;
	margin-left:40px;}

.vrse > li{
	display:block;
	margin-left:1em;
	margin-bottom:1em;
}
.vrse > li:before{
	display:inline-block;
	content: counter(item);
	counter-increment:item;
	width:2em;
	margin-left:-2em;
	font:bold 1.1em/1em 'Comic Sans MS';
}
.first{margin-top:0px;}

#multi-column{
	border: 1px #fffc00 solid;
	-webkit-column-width:220px;
	column-width:220px;
	}
#short{
	border: 1px #fffc00 solid;
	}
.tocA, .tocB, .tocC, .tocD, .tocE, .tocF, .tocG, .tocH, .tocI, .tocJ, .tocK, .tocL, .tocM, .tocN, .tocO, .tocP, .tocQ, .tocR, .tocS, .tocT, .tocU, .tocV, .tocW, .tocX, .tocY, .tocZ{
	position:absolute;
	top:70px; left:50%;
	margin-left:-250px;
	display: none;
	background:#EEF;} 
.tocClose{
	color:#FFFF00;
	background:#670000;
	border-radius:50%;
	padding:5px 10px;
	float:right;
	font-weight:bold;
	margin-top:-10px;
	margin-right:-10px;
	cursor:pointer;
}
.tocNum1, .tocNum2, .tocNum3, .tocNum4, .tocNum5{
	position:absolute;
	top:70px;
	display: none;
	background:#EEF;
	border:2px solid #670000;
	}
.tocNum1{
	left:55px;
	}
.tocNum2{
	left:150px;
	}
.tocNum3{
	left:250px;
	}
.tocNum4{
	left:350px;
	}
.tocNum5{
	left:450px;
}
#toc td{
	cursor:pointer;
}
.rt{text-align:right; width:40px; padding-right:10px;}

input[type=text]:focus {
    width: 70%;
} */